In [1]:
import os
import pandas as pd

In [52]:
def extract_precision_data(base_path, data_names, methods):
    alpha_data = {data_name: {} for data_name in data_names}
    beta_data = {data_name: {} for data_name in data_names}
    
    for data_name in data_names:
        for method in methods:
            quality_file_path = os.path.join(base_path, data_name, f"{method}.txt")
            try:
                with open(quality_file_path, 'r') as file:
                    lines = file.readlines()
                    a = float(f"{float(lines[0].strip()):.4f}")
                    b = float(f"{float(lines[1].strip()):.4f}")
                    
                    alpha_data[data_name][method] = 100*(a)
                    beta_data[data_name][method] = 100*(b)
            except Exception as e:
                print(f"Failed to read {quality_file_path}: {e}")
                alpha_data[data_name][method] = None
                beta_data[data_name][method] = None
    
    alpha_data = pd.DataFrame(alpha_data)
    beta_data = pd.DataFrame(beta_data)
    
    return alpha_data, beta_data

In [54]:
data_names = ['adult_equal', 'default_equal', 'shoppers_equal', 'magic_equal', 'beijing_equal', 'news_equal']
methods = ['diffusion_on_copula', 'simple_KDE_VAE_encoding', 'KDE_VAE_encoding',  'smote', 'simple_KDE', 'tabsyn', 'TabKDE' ]

In [56]:
base_path = '/Users/.../Desktop/tabsyn-main/eval/quality'

In [58]:
A, B= extract_precision_data(base_path, data_names, methods)

In [60]:
A

,adult_equal,default_equal,shoppers_equal,magic_equal,beijing_equal,news_equal
diffusion_on_copula,89.41,98.84,94.29,98.68,95.66,96.85
simple_KDE_VAE_encoding,82.61,71.62,65.94,82.31,83.95,19.24
KDE_VAE_encoding,96.08,88.68,84.55,94.74,98.76,86.07
smote,93.17,97.03,90.91,96.76,98.30,86.08
simple_KDE,95.68,93.32,95.65,90.86,93.67,29.65
tabsyn,99.12,98.64,99.15,99.26,98.67,97.16
TabKDE,92.32,94.17,90.98,98.83,96.94,97.60

In [62]:
B

,adult_equal,default_equal,shoppers_equal,magic_equal,beijing_equal,news_equal
diffusion_on_copula,37.22,37.91,42.87,46.23,36.66,45.29
simple_KDE_VAE_encoding,31.79,19.65,27.84,36.30,38.29,2.00
KDE_VAE_encoding,36.39,24.86,34.62,43.59,41.97,15.67
smote,76.94,77.27,76.32,82.45,78.38,80.94
simple_KDE,49.81,37.91,43.13,43.22,40.07,3.72
tabsyn,48.17,46.95,48.37,48.24,43.61,43.38
TabKDE,52.17,43.71,47.62,48.49,42.41,19.94